<main>
  <img src="<%= asset_path('illustration-article.svg') %>" alt="Description of image">
  <div>
    <section>
      <div>
        <h1>Learning</h1>
      </div>
      <p>Published 21 Dec 2023</p>
    </section>
    <section>
      <a href="#">
        <h2>HTML & CSS foundations</h2>
      </a>
      <p>These languages are the backbone of every website, defining structure, content, and presentation.</p>
    </section>
  </div>
  <div>
    <img height="32" width="32" src="<%= asset_path('image-avatar.webp') %>" alt="Avatar of person">
    <p>Greg Hooper</p>
  </div>
</main>