<main>
  <img src="<%= asset_path('illustration-article.svg') %>" alt="Description of image">
  <div>
    <section>
      <div>
        <h1>Learning</h1>
      </div>
      <p>Published 21 Dec 2023</p>
    </section>
    <section>
      <h2>HTML & CSS foundations</h2>
      <p>These languages are the backbone of every website, defining structure, content, and presentation.</p>
    </section>
  </div>
</main>